<nav class="navbar navbar-default navbar-wasabi" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">
        <%= image_tag('logotipo-branco-pequeno-parceiros.png') %>
      </a>
    </div><!-- /.navbar-header -->
  </div><!-- /.container-fluid -->
</nav>
