// Place all the styles related to the Leads controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#lead-form {
  width: 300px;
  left: 45%;
  position: absolute;
  padding-top: 50px;
  padding-left: 25px;
  padding-right: 25px;
}

.logo {
  width: 150px;
  margin-bottom: 20px;
  margin-left: 50px;
  margin-right: 50px;
}
