body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;

  &:visited {
    color: #666;
  }

  &:hover {
    color: #fff;
    background-color: #000;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

// .field_with_errors {
//   padding: 2px;
//   background-color: red;
//   display: table;
// }

#error_explanation {
  width: 250px;
  max-width: 250px;
  // border: 2px solid red;
  webkit-box-shadow: 3px 3px 7px rgba(0,0,0,.2);
  moz-box-shadow: 3px 3px 7px rgba(0,0,0,.2);
  box-shadow: 3px 3px 7px rgba(0,0,0,.2);
  padding: 7px 5px 5px 0px;
  margin-bottom: 10px;
  background-color: #eddd74;
  color: #665924;

  ul {
    padding-left: 25px
  }

  ul li {
    font-size: 12px;
    list-style: none;
  }
}
