@import "scaffolds.scss";
@import "leads.scss";
@import "bootstrap-sprockets";
@import "bootstrap";

.btn-full {
  width: 100%;
  margin-top: 15px;
}

.navbar-wasabi {
  background: #2e4053;
  border: 0px solid;
  border-radius: 0px;
}

.navbar-default .navbar-brand {
  color: #ffeeb4;
}

.navbar-brand {
  padding: 8px 0px 0px 30px;
  margin-left: 0px;
}
